{{/* 위키 스타일 링크 Shortcode (간단한 버전)
사용법: {{< wiki "개념명" >}}
*/}}
{{- $concept := .Get 0 | default "" -}}
{{- $found := false -}}
{{- $link := "" -}}
{{- $title := "" -}}

{{/* 사이트 전체에서 해당 개념을 찾기 */}}
{{- range where site.RegularPages "Section" "posts" -}}
  {{- $postTitle := lower .Title -}}
  {{- $searchConcept := lower $concept -}}
  {{- if or (eq $postTitle $searchConcept) (in $postTitle $searchConcept) (in $searchConcept $postTitle) -}}
    {{- $found = true -}}
    {{- $link = .RelPermalink -}}
    {{- $title = .Title -}}
    {{- break -}}
  {{- end -}}
{{- end -}}

{{/* 태그에서도 찾기 */}}
{{- if not $found -}}
  {{- range site.Taxonomies.tags -}}
    {{- if eq (lower .Page.Title) (lower $concept) -}}
      {{- $found = true -}}
      {{- $link = .Page.RelPermalink -}}
      {{- $title = .Page.Title -}}
      {{- break -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{/* 링크 생성 */}}
{{- if $found -}}
  <a href="{{ $link }}" class="wiki-link" title="{{ $title }}">{{ $concept }}</a>
{{- else -}}
  <span class="wiki-link-missing" title="'{{ $concept }}'에 대한 포스트를 찾을 수 없습니다">{{ $concept }}</span>
{{- end -}}
